script(src="//www-secure.symantec.com/script/omniture/s_code.js" )
script.
  //<![CDATA[
  /* You may give each page an identifying name, server, and channel on the next lines. */
  s.autoTrack = true
  s.pageName=metaData['page_name'];
  s.server="symantec"
  s.channel=metaData['visitor_segment'] + ': ' + metaData['site_section']
  s.pageType=metaData['page_type']
  s.prop2=metaData['site_country']
  s.prop3=metaData['site_language']
  s.prop25=metaData['error_url']
  s.prop27=metaData['visitor_segment']
  s.prop29=(typeof testBoxVal == "undefined") ? "" : testBoxVal
  s.prop33=metaData['page_url']
  s.prop41=metaData['site_section']
  s.prop42=metaData['product_name']
  s.prop43=metaData['product_category_name']
  s.prop44=metaData['product_sub_category_name']
  s.prop45=metaData['product_version_name']
  s.prop46=metaData['content_format']
  s.prop47=metaData['content_type']
  s.prop48=metaData['content_title']
  s.prop49=metaData['site_sub_section']
  s.prop54=metaData['site_section_us']
  /* Conversion Variables */
  s.products=metaData['products']
  s.eVar17=(typeof testBoxVal == "undefined") ? "" : testBoxVal
  s.eVar27=metaData['site_country']
  s.eVar28=metaData['site_language']
  s.eVar29=metaData['visitor_segment'] + ': ' + metaData['site_section']
  s.eVar41=metaData['site_section']
  s.eVar42=metaData['product_name']
  s.eVar43=metaData['product_category_name']
  s.eVar48=metaData['site_sub_section']
  s.eVar49=metaData['content_title']
  s.eVar50=metaData['visitor_segment']
  s.eVar54=metaData['site_section_us']
  /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
  var s_code=s.t();if(s_code)document.write(s_code)
  //]]>
script.
  //<![CDATA[
  if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
  //]]>
script.
    var ebRand = Math.random()+'';
    ebRand = ebRand * 1000000;
    //<![CDATA[ 
    document.write('<scr'+'ipt async src="https://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=604708&amp;rnd=' + ebRand + '"></scr' + 'ipt>');
    //]]>
noscript.
  <img width="1" height="1" style="border:0" src="HTTPS://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=604708&amp;ns=1"/>